:root {
  --gray: lightgray;
}

.node circle {
  fill: var(--clr);
  stroke: var(--clr);
  stroke-width: 2px;
}

.node text {
  font: 16px sans-serif;
}

.link {
  fill: none;
  stroke: var(--gray);
  stroke-width: 2px;
}
