#previews {
    display: grid;
    align-items: center;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 1em;
}

#previews > * {
    flex: 1;
    border: var(--sec) 2px solid;
    border-radius: 5px;
    padding: 5px;
    animation: var(--ani);
    opacity: 0;
    animation-delay: calc((250ms * var(--delay)));
    animation-fill-mode: forwards;
}

#previews > * > .preview {
    background: white;
    border-radius: 5px;
    padding: 5px;
}

#previews > * > .preview > * {
    pointer-events: none;
}